/*顶部区域*/
.top{
    width: 100%;
    height: 60px;
    background-color: black;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
}
.top .top_in{
    width: 1200px;
    height: 60px;
    margin: 0 auto;
    /*background-color: yellow;*/
}
.top .top_left{
    height: 100%;
    width: 190px;
    /*background-color: pink;*/
    float: left;
}
.top .top_left>h1{
    width: 100%;
    height: 100%;
}
.top .top_left>h1>a{
    display: inline-block;
    width: 100%;
    height: 100%;
    background: url("../images/nubia-logo.png");
}
.top .top_right{
    height: 100%;
    width: 740px;
    /*background-color: pink;*/
    float: right;
}
.top .top_nav{
    float: left;
    width: 550px;
    height: 100%;
    /*background-color: skyblue;*/
}
.top .top_nav>li{
    float: left;
}
.top .top_nav>li>a{
    font-size: 16px;
    font-weight:bold;
    color: #fff;
    line-height:60px;
    margin-left: 40px;
}
.top ul>li>a:hover{
    color: #e82c07;
}
.top .top_login{
    float: right;
    width: 150px;
    height: 100%;
    /*background-color: skyblue;*/
}
.top .top_login>li{
    float: right;
    line-height: 60px;
    margin-left: 10px;
}
.top .top_login>li>a{
    color: #ccc;
}
.top .top_login>li:nth-child(3){
    width: 30px;
    height: 30px;
    background: url("../images/nubia-syb-all.png");
    margin-top: 15px;
}
/*广告区域*/
.banner{
    width: 100%;
    height: 800px;
    /*background-color: green;*/
}
.banner .figure{
    width: 100%;
    height: 600px;
    /*background-color: red;*/
    overflow: hidden;
    /*奇淫技巧*/
    text-align: center;
    position: relative;
}
.banner .figure>img{
    height: 100%;
    /*奇淫技巧*/
    margin: 0 -100%;
}
.banner .figure>ol{
    width: 150px;
    height: 20px;
    /*background: red;*/
    position: absolute;
    left: 50%;
    margin-left: -75px;
    bottom: 10px;
}
.banner .figure>ol>li{
    width: 8px;
    height: 8px;
    background: #ccc;
    float: left;
    margin-left: 15px;
    border-radius: 50%;
    border: 2px solid transparent;
    /*box-sizing: border-box;*/
    transition: all 1s;
}
.banner .figure>ol>li:hover{
    border: 2px solid black;
    background: transparent;
    transform: scale(1.2,1.2);
    /*box-sizing: border-box;*/
}
.banner .video{
    width: 100%;
    height: 204px;
    background: white;
}
.banner .video>ul{
    width: 1295px;
    height: 200px;
    margin: 0 auto;
    /*background-color: yellow;*/
}
.banner .video>ul>li{
    width: 25%;
    height: 200px;
    /*background-color: red;*/
    float: left;
    border-bottom: 2px solid #cccccc;
    box-sizing: border-box;
    position: relative;


}
.banner .video>ul>li>a{
    display: inline-block;
    width: 100%;
    height: 100%;
    text-align: center;
    overflow: hidden;
}
.banner .video li>a>img{
    height: 200px;
    margin: 0 -100%;
    transition: all 1s;
}
.banner .video>ul>li:hover img{
    transform: scale(1.05,1.05);
}
.banner .video .info{
    display: inline-block;
    width: 100%;
    position: absolute;
    left: 50%;
    margin-left: -50%;
}
.banner .video .info>h2{
    font-size: 16px;
    color: #333333;
    margin-top: 20px;
}
.banner .video .info>p{
    margin-top: 5px;

}
/*底部区域*/
.footer{
    width: 100%;
    height: 134px;
    background: white;
}
.footer .copyright{
    width: 1000px;
    height: 54px;
    line-height: 54px;
    /*background-color: gold;*/
    margin: 0 auto;
    position: relative;

}
.footer .copyright a{
    padding: 0 5px;

}
.footer .copyright a:first-child{
    padding-left: 0;
}
.footer .copyright>span{
    display: inline-block;
    height: 30px;
    position: absolute;
    right: 0;
    top: 0;


}
.footer .copyright>span a{
    display: inline-block;
    height: 30px;
    width: 30px;
    box-sizing: border-box;
    margin-left: 17px;
    background-image: url("../images/nubia-syb-all.png");
    background-repeat: no-repeat;
}
.footer .copyright>span a:nth-child(1){
     background-position: -246px 0px ;
    margin-top: 10px;
}
.footer .copyright>span a:nth-child(2){
    background-position: -186px 0px;
}
.footer .copyright>span a:nth-child(3){
    background-position: -126px 0px;
}
.footer .copyright>span a:nth-child(4){
    background-position: -156px 0px;
}
.footer .copyright>span a:nth-child(1):hover{
    background-position: -246px -30px;
}
.footer .copyright>span a:nth-child(2):hover{
    background-position: -186px -30px;
}
.footer .copyright>span a:nth-child(3):hover{
    background-position: -126px -30px;
}
.footer .copyright>span a:nth-child(4):hover{
    background-position: -156px -30px;
}
.footer .copyright>span>strong{
    display: inline-block;
    float: right;
    height: 30px;
    font-size: 16px;
    margin-left: 20px;

}
.footer .copyright>p img{
    width: 11px;
    top: 3px;
}


